<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString>
		<add name="SqlConn" 
			 connectionString=" Server=DESKTOP-C25UU6P\SQLEXPRESS;DataBase=SistemaEstudiantes;Trusted_Connection=True;TrustServerCertificate=True; Connect Timeout=5;MultipleActivateResultSets=True"
			 providerName="System.Data.SqlClient"
			 />
		</connectionString>
</configuration>